.shows
	display: flex
	text-align: center

.show
	flex: 1
	padding: 15px
	&__content
		border-radius: 3px
		border: 1px solid #e0e0e0
		&__img
			height: 100px
			background: #eee
		&__data
			padding: 10px
			text-align: left