.main
	min-height: calc(100vh - #{$nav-height + $footer-clearance})
	margin-top: $nav-height
	padding-bottom: $footer-clearance

.centered
	text-align: center !important

.content
	max-width: $max-content-width
	margin: 0 auto
	position: relative